server {
    server_name     127.0.0.1;
    server_tokens   off;

    access_log      /etc/nginx/logs/auth_access.log common;
    error_log       /etc/nginx/logs/auth_error.log;

    root /data/;

    index index.html;

    location /static/ {
        access_log off;
        alias /data/static/;
    }

    location / {
         try_files $uri $uri/ /index.html?$query_string;
    }

    location @rewrites {
         rewrite ^(.+)$ /index.html last;
    }

    location /ngx_status {
        stub_status on;
        access_log off;
    }

    location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }
}